.site-footer {
  background-color: #3e3e3e;

  .site-info {
    background-color: #3e3e3e;
    color: #101010;
    margin-top: 20px;
    text-align: center;
  }

  .git-icon {
    &:before {
      content: '\f09b';
      font-family: 'FontAwesome';
    }
  }
}


