// Style for blog post container
.hentry {
  @include border-radius(5px);
  background-color: #fff;
  margin: 0 0 1.5em;
  padding: 1.5rem;
}

// Style for blog post title
.entry-header,
.entry-content {
  float: left;
}

.entry-header {
  width: 25%;
  margin-right: 3%;
  
  .entry-meta {
    border-right: solid 5px #ba3232;
      
    hr {
      background-color: #ba3232;
      height: 5px;
      margin-bottom: 1em;
    }

    .author-meta {
      margin: 0 auto;
      width: 125px;

      .avatar {
        border-color: #ba3232;
        border-radius: 50%;
        border-style: solid;
        border-width: 5px;
        width: 125px;
        margin: 0 auto;
      }

      .author-url {
        @include font-size(1.8);
        color: #ba3232;
        display: block;
        text-align: center;
        text-decoration: none;
        text-transform: capitalize;
        width: 125px;

        &:hover {
          text-decoration: underline;
        }

      }
    }

    .post-date {
      a {
        color: #fff;
        display: block;
        margin-bottom: 1em;
        text-align: center;
        text-decoration: none;
        
        &:hover {
          text-decoration: underline;
        }

        time {
          background-color: #ba3232;
          padding: 5px 12px;
        }
      }
    }
  }

  .cat-links {
    &:before {
      content: '\f02e';
      font-family: 'FontAwesome';
      font-style: normal;
      font-weight: normal;
    }
  }
  
  .tags-links {
    &:before {
      content: '\f02b';
      font-family: 'FontAwesome';
      font-style: normal;
      font-weight: normal;
    }
  }

}

@media screen and (max-width: 600px) {
  .entry-header {

    .author-meta {
      width: 100%;

      .author-url {
        @include font-size(1.4);
      }
    }
  }
}

.entry-content {
  width: 72%;
}

.single-post .entry-header,
.single-post .entry-content {
  float: none;
}


.single-post {
  .entry-header {
    margin: 0;
    width: 100%;

    .entry-meta {
      border: 0;
    }
  }

  .entry-title {
    @include font-size(3.2);
    background-color: transparent;
    display: inline;
    text-align: center;
  }
}


.entry-title {
  background-color: $color-smoothblue;
  display: inline-block;
  padding: 0;
  text-transform: uppercase;

  a {
    @include font-size(2.4);
    color: #fff;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    padding: 0 .5em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Style for the sticky post
.sticky {
  background-color: $color-smoothblue;
  color: #fff;
  display: block;

  .entry-title {
    background-color: $color-darkgrey;
  }

  .cat-links {
    &:before {
      content: '\f02e';
      font-family: 'FontAwesome';
      font-style: normal;
      font-weight: normal;
    }

    a {
      color: #191970;
  
      &:hover {
        color: #000070;
      }
    }
  }

  .tags-links {
    &:before {
      content: '\f02b';
      font-family: 'FontAwesome';
      font-style: normal;
      font-weight: normal;
    }

    a {
      color: #191970;
  
      &:hover {
        color: #000070;
      }
    }
  }
}

// Heading & other html element styling in blog post
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  margin-bottom: .4em;
}

.entry-content h1 {
  font-size: 3.2rem;
}

.entry-content h2 {
  font-size: 3rem;
}

.entry-content h3 {
  font-size: 2.8rem;
}

.entry-content h4 {
  font-size: 2.6rem;
}

.entry-content h5 {
  font-size: 2.4rem;
}

.entry-content h6 {
  font-size: 2.2rem;
}

.entry-content p,
.entry-content ul,
.entry-content ol {
  font-size: 2rem;
  line-height: 1.6em;
}

.entry-content blockquote p {
  font-size: 2.8rem;
  line-height: 1.5em;
}


.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
